@if (isOpen()) {
  <div (click)='closeMenu()' class='md:hidden absolute top-0 left-0 bottom-0 right-0 z-10 bg-white/10'></div>
}
<nav [ngClass]="['absolute transition-all ease-in-out duration-300 z-20 top-0',
 'md:top-[4rem] h-screen md:h-[calc(100vh-4rem)] w-[90vw] max-w-[300px]',
'bg-gradient-to-b to-gray-900 from-gray-950 text-white border-r-2',
'border-white/5',
 menuClasses]">
  <div class='relative w-full h-full overflow-x-hidden block'>
    <mg-item-scoll-container
      (loadPage)='loadNextPage($event)'
      [movies]='movies$ | async'
      [isLoading]='isLoading$ | async'
      [paginator]='paginator$ | async' />
  </div>
  <!--  <div class='md:hidden flex w-full justify-end items-center mb-2'>-->
  <!--    <button-->
  <!--      (click)='closeMenu()'-->
  <!--      class='p-1.5 focus:ring-2 focus:ring-white/20 hover:bg-white/5 transition-colors duration-200 rounded-md ease-in-out'>-->
  <!--      <img-->
  <!--        ngSrc='assets/svg/close-fill.svg'-->
  <!--        alt='Close menu'-->
  <!--        width='24'-->
  <!--        height='24' />-->
  <!--    </button>-->
  <!--  </div>-->
  <!--  <div class='flex flex-col gap-1 w-full'>-->
  <!--    @for (movie of movies$ | async; track movie) {-->
  <!--      <mg-menu-item [selected]='selected === movie.id'-->
  <!--                    [item]='movie'-->
  <!--                    (navigated)='itemSelected(movie.id)' />-->
  <!--    }-->
  <!--  </div>-->
</nav>
