/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(55, 55, 55, 0.4) rgba(55, 55, 55, 0.15);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: rgba(55, 55, 55, 0.15);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(55, 55, 55, 0.4);
  border-radius: 32px;
  border: 8px solid rgba(55, 55, 55, 0.15);

}

.cdk-virtual-scroll-content-wrapper {
  max-width: 100%;
}
